flows.json
[
    {
        "id": "537eb81ac592d6ae",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "061b272d346ebd03",
        "type": "tab",
        "label": "Smart Radiator Valve (MIHO013)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5c07ac875e326d6",
        "type": "tab",
        "label": "Smart Monitor Plug (MIHO004)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9b614b65347025c",
        "type": "tab",
        "label": " Smart Plug+ (MIHO005)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f075697e81a4e38d",
        "type": "subflow",
        "name": "MIHO005 Plug Monitor and Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 120,
                "wires": [
                    {
                        "id": "b2942f9633cb6c6b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 180,
                "wires": [
                    {
                        "id": "53181c175b6515ff",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "833a40a2676dab42",
        "type": "subflow",
        "name": "MIHO004 Plug Monitor Only",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "3389ae28a8747889"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 200,
                "wires": [
                    {
                        "id": "936215286e2aab7a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cdb62d5ce7ac8e79",
        "type": "subflow",
        "name": "MIHO013 Radiator Valve",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "c9e1dddbb741fba5"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1340,
                "y": 240,
                "wires": [
                    {
                        "id": "c05c3205643928c1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "57c9286e0d5bee84",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": 0,
        "y": 0,
        "w": 40,
        "h": 40
    },
    {
        "id": "985b0c2fa5b8e0c7",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": 0,
        "y": 0,
        "w": 40,
        "h": 40
    },
    {
        "id": "a5de3889fbc07d90",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "db52f7a86ff3fedd",
            "f6c3b6f8fa2dd920",
            "80cedc3bf9e60653",
            "c46934dffc3bcb2d",
            "db083b5f26996a4c",
            "dad03b1c53fcc63b",
            "4398775347ed8679",
            "9978c67901c1a989",
            "bf87fe53c72c7d7e",
            "d989ab87daa5443f",
            "e0f4df05ab1bef7e",
            "1f14589732fae5c6",
            "3b7b181075c1ef3b",
            "609e085f01975b46",
            "c5a79ac44753842f",
            "6e774504ac1563d2",
            "f0d71363803e24f8",
            "edea18ceaf6e05c2",
            "89732ff349aee7b8"
        ],
        "x": 54,
        "y": 959,
        "w": 1552,
        "h": 442
    },
    {
        "id": "fa73fab3d77d8daa",
        "type": "group",
        "z": "061b272d346ebd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a380876d88962b29",
            "7d792a741cd70d6c",
            "43b3bf1c0f3c6a18",
            "c533a8bb7273e019",
            "39e666ee8d7e9ca7",
            "cc454d1be9e24b72",
            "7f6f8e312914436c",
            "16340f7714e67b65"
        ],
        "x": 4,
        "y": 39,
        "w": 712,
        "h": 397
    },
    {
        "id": "045aef6db868e9d5",
        "type": "group",
        "z": "061b272d346ebd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "29a81328d008fb5e",
            "11343262e93d1cf7",
            "01a73f4f44b838f8",
            "c4e7618d0c8de6d4",
            "9aa0bd5c8e0df7d8",
            "bbd9c96a9241fa71",
            "c44615c857eeef7d",
            "f10e0c7ad4c4a76e",
            "4d3ec33dddf3365a",
            "c0ea2d7fca78a8d4",
            "180ee6c43e1db209",
            "f4c005a8c68ef5b1",
            "943e1064f510b2a4",
            "f29f7f8628a8fa6e",
            "c9e8d0cc68ce9bf2",
            "22f516cfc8a864eb"
        ],
        "x": 174,
        "y": 519,
        "w": 552,
        "h": 702
    },
    {
        "id": "e72e588ff1c8ae83",
        "type": "group",
        "z": "061b272d346ebd03",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "18636c74da0dfe6e",
            "241e684d32ce5b64",
            "7f9a36f0ba9deaa3",
            "f155d23535a2e226",
            "4a244a4bc7436312",
            "805f901224d8a0c4"
        ],
        "x": 1774,
        "y": 99,
        "w": 592,
        "h": 182
    },
    {
        "id": "466213e5a7838e65",
        "type": "group",
        "z": "f9b614b65347025c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "295d1acbb4387108",
            "25d4079da5b20a32",
            "897d41aed130b0e7",
            "e9115c9a4480a356",
            "d67372c17b6b91ee",
            "f4fedc380d1a6661",
            "6229432f04945b55"
        ],
        "x": 794,
        "y": 334
    },
    {
        "id": "bd6bb52ed4b9535c",
        "type": "group",
        "z": "f9b614b65347025c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "28824b357224a926",
            "37f62acf217785cd",
            "dadbe76ae213adcc",
            "3c57205d2a77b4a0",
            "1e380b75b8d61790",
            "517e661563658566"
        ],
        "x": 794,
        "y": 179
    },
    {
        "id": "da1b9b77ab11a273",
        "type": "group",
        "z": "f9b614b65347025c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "38a4b9e675ef9b0f",
            "e428c81cc49ef126",
            "f267fd6bda3b9403",
            "b95a1eb9606feb70",
            "0d7a52e255cdf2d7",
            "8d8ca8ae66d9e016",
            "53a09c1b2e26371d",
            "aff329637c1b5419",
            "f9b9be4b9e1cf0bc"
        ],
        "x": 14,
        "y": 59
    },
    {
        "id": "7ad9c5f766ebd082",
        "type": "group",
        "z": "f9b614b65347025c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7d073ecada5747d4",
            "5ed8cbfcd963922f",
            "86a3f5373d16945c",
            "09747f10f9a9bea7",
            "772af1e9a0321b31"
        ],
        "x": 1564,
        "y": 99
    },
    {
        "id": "f7d2523e9fcc649a",
        "type": "group",
        "z": "f5c07ac875e326d6",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9965ef4959ba011f",
            "5afc17fcd76d53d5",
            "3342db22e8247c46",
            "8f48efda55f6ac61",
            "53b1e31e569b3b08"
        ],
        "x": 804,
        "y": 39,
        "w": 412,
        "h": 162
    },
    {
        "id": "75710a4188d28a86",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "048759ea643eacfb",
            "6a4a9705132f9175",
            "88fa3c012b3a4d47",
            "5373ffc4598fc724",
            "a381d93238425f22",
            "c2152f26c8074e8f"
        ],
        "x": 834,
        "y": 99,
        "w": 752,
        "h": 222
    },
    {
        "id": "bf9b9330f440c33a",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e3cf621895e62eef",
            "e0b4a5ede84fec43",
            "aa286eb049368e95",
            "eb64c277ce27959b",
            "3ba2b2ec9a663b9e",
            "b651e240251a63ec",
            "31b096bb11767739"
        ],
        "x": 14,
        "y": 59,
        "w": 532,
        "h": 202
    },
    {
        "id": "be8e8de1061deea7",
        "type": "group",
        "z": "537eb81ac592d6ae",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cf0cdb1ed18f7ed7",
            "1e708fdbdb9831a0",
            "aa6d11838c4cf4bf",
            "502ccec7e8e38c72",
            "3b91fab1361079d1",
            "272889a66b307243",
            "aa7d0fb3cf4ebfea",
            "18bab721cd21cbf2",
            "c95eee0532754c73",
            "a9394215c6562fd7",
            "bcb7a46f0ad8832d",
            "e273f6d4c4b52b8e",
            "bbc63ae0ea19d2fe"
        ],
        "x": 34,
        "y": 419,
        "w": 1622,
        "h": 222
    },
    {
        "id": "f4c005a8c68ef5b1",
        "type": "junction",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "x": 680,
        "y": 560,
        "wires": [
            [
                "06437078cd06684c",
                "5afbdef9f808b931",
                "5b273f4574e1e063",
                "9f72ca99c409ecf7",
                "fcfee4cd7f41bc55",
                "8fc60a30c88c0ef9",
                "b9e1db538b2c23f4",
                "e80248c229e928c9",
                "4345c0284d70f3de",
                "621f444a414daabc",
                "26d013a8d14dc131",
                "e37676b8b5aea3b9"
            ]
        ]
    },
    {
        "id": "d67372c17b6b91ee",
        "type": "junction",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "x": 1300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "90853accac1ab854",
        "type": "junction",
        "z": "cdb62d5ce7ac8e79",
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "c05c3205643928c1"
            ]
        ]
    },
    {
        "id": "ebdb6d0ae6b68d8d",
        "type": "junction",
        "z": "f075697e81a4e38d",
        "x": 980,
        "y": 160,
        "wires": [
            [
                "53181c175b6515ff"
            ]
        ]
    },
    {
        "id": "ba7d6c58e1538a80",
        "type": "junction",
        "z": "833a40a2676dab42",
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "936215286e2aab7a"
            ]
        ]
    },
    {
        "id": "88fbf5a17def056c",
        "type": "energenie-board",
        "name": "ENER314-RT",
        "timeout": "5000"
    },
    {
        "id": "2c19ae9da8c2824c",
        "type": "openThings-device",
        "name": "Monitor Plug:1215",
        "productId": "1",
        "product": "Monitor Plug",
        "deviceId": "1215",
        "control": "Monitor"
    },
    {
        "id": "0f31bc6adcafaa43",
        "type": "openThings-device",
        "name": "Adapter Plus:6187",
        "productId": "2",
        "product": "Adapter Plus",
        "deviceId": "6187",
        "control": "Control & Monitor"
    },
    {
        "id": "23f31f81a5be8aed",
        "type": "openThings-device",
        "name": "Adapter Plus:5623",
        "productId": "2",
        "product": "Adapter Plus",
        "deviceId": "5623",
        "control": "Control & Monitor"
    },
    {
        "id": "8d7ee635c95c5781",
        "type": "mqtt-broker",
        "name": "home-assistant-mqtt",
        "broker": "192.168.10.21",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "energenie_gateway/bridge/state",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "online",
        "birthMsg": {},
        "closeTopic": "energenie_gateway/bridge/state",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "offline",
        "closeMsg": {},
        "willTopic": "energenie_gateway/bridge/state",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "offline",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "71e70e5d03cfbecf",
        "type": "openThings-device",
        "name": "Radiator Valve:3233",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "3233",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "cc25050701e608f8",
        "type": "openThings-device",
        "name": "Radiator Valve:5318",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "5318",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "4d9cd9aa20ea4eeb",
        "type": "openThings-device",
        "name": "Radiator Valve:5251",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "5251",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "b6bd7189b0279cc5",
        "type": "openThings-device",
        "name": "Radiator Valve:3463",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "3463",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "e09f66fe193571c6",
        "type": "openThings-device",
        "name": "Radiator Valve:4329",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "4329",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "da83621dd79ae388",
        "type": "openThings-device",
        "name": "Radiator Valve:4335",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "4335",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "cd48f129e1e4d8e7",
        "type": "openThings-device",
        "name": "Radiator Valve:4324",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "4324",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "e5310d357913c3dc",
        "type": "openThings-device",
        "name": "Radiator Valve:4168",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "4168",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "03f8fe03bec6f55a",
        "type": "openThings-device",
        "name": "Radiator Valve:2989",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "2989",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "c73827dd95a46815",
        "type": "openThings-device",
        "name": "Radiator Valve:5993",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "5993",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "b14fe5948412f3b5",
        "type": "openThings-device",
        "name": "Radiator Valve:5475",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "5475",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "d774c54837acd05e",
        "type": "openThings-device",
        "name": "Radiator Valve:3449",
        "productId": "3",
        "product": "Radiator Valve",
        "deviceId": "3449",
        "control": "Control & Monitor (Cached)"
    },
    {
        "id": "e69c1c8256f84f5b",
        "type": "function",
        "z": "f075697e81a4e38d",
        "name": "Create MQTT discovery messages",
        "func": "// Rev 1. Richard Huish 2023\n// Designed for Home Assistant automatic MQTT Discovery\n// https://www.home-assistant.io/integrations/mqtt/#mqtt-discovery\n\n// Change this to match the IP of your Raspberry Pi with ENER314-RT, used in Home Assistant for proving user with hyperlink.\nvar CONFIGURATION_VAR = \"http://192.168.10.35:1880/\";\n\n\nvar MODEL_NAME = \" Smart Plug Plus (MIHO005)\";\nvar SHARED_NAME_PREFIX = \"Energenie \";\nvar IDENTIFIERS_PREFIX = \"energenie_mqtt_gateway_\";\n\nvar MANUFACTURER_NAME = \"Energenie (via MQTT Raspberry Pi with ENER314-RT)\";\nvar VIA_DEVICE_NAME = \"MQTT Raspberry Pi with ENER314-RT\"; \nvar UNIQUE_ID_SUFFIX = \"_energenie_mqtt\"; \nvar EXPIRE_AFTER = \"60\";  //Number of seconds after the sensor’s state expires\nvar STATE_TOPIC = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nvar SET_TOPIC = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\";\n\n// Code reuse to save typing it out for each config.\nvar AVAILABILITY = [\n    {\n        topic: \"energenie_gateway/bridge/state\",\n        payload_available: \"online\",\n        payload_not_available: \"offline\"\n    }\n];\nvar DEVICE = {\n    name: msg.payload.deviceId,\n    identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n    configuration_url: CONFIGURATION_VAR,\n    manufacturer: MANUFACTURER_NAME,\n    model: MODEL_NAME,\n    via_device: VIA_DEVICE_NAME\n};\n\n\n// Measured power sensor in watts.\nvar config1 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Power\",\n        unique_id: msg.payload.deviceId + \"/power\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.REAL_POWER }}\",\n        unit_of_measurement: \"W\",\n        device_class: \"power\",\n        state_class: \"measurement\"\n        // icon: \"mdi:current-dc\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/power/config\"\n};\n\n// Measured voltage sensor in volts.\nvar config2 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Voltage\",\n        unique_id: msg.payload.deviceId + \"/voltage\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.VOLTAGE }}\",\n        unit_of_measurement: \"V\",\n        device_class: \"voltage\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/voltage/config\"\n};\n\n// Measured frequency in Hz.\nvar config3 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Frequency\",\n        unique_id: msg.payload.deviceId + \"/frequency\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.FREQUENCY | round(2)}}\",\n        unit_of_measurement: \"Hz\",\n        device_class: \"frequency\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/frequency/config\"\n};\n\n// Measured reactive power in VAR.\nvar config4 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Reactive Power\",\n        unique_id: msg.payload.deviceId + \"/reactive_power\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.REACTIVE_POWER }}\",\n        unit_of_measurement: \"var\",\n        device_class: \"reactive_power\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/reactive_power/config\"\n};\n\n// Binary Sensor for plug switch state, not technically needed, but handy for diagnostics.\nvar config5 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        entity_category: \"diagnostic\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Plug Switch State\",\n        unique_id: msg.payload.deviceId + \"/plug_switch_state_returned\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.SWITCH_STATE }}\",\n        // unit_of_measurement: \"var\",\n        device_class: \"power\",\n        // state_class: \"measurement\",\n        // icon: \"mdi:flash\"\n        payload_on: \"1\", //payload format to match JSON from sensor\n\t    payload_off: \"0\", //payload format to match JSON from sensor\n    },\n    topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/plug_switch_state_returned/config\"\n};\n\n// Switch control for plug, with state.\n// Incoming data from MQTT is passed through a change node to change the \"false\" string to boolean formats,\n// prior to be passed to the openThings switch node.\nvar config6 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Plug Switch\",\n        unique_id: msg.payload.deviceId + \"/plug_switch_set\",\n        state_topic: STATE_TOPIC, // Track the state of the sensor value.\n        value_template: \"{{ value_json.SWITCH_STATE }}\",\n        // unit_of_measurement: \"var\",\n        device_class: \"outlet\",\n        // state_class: \"measurement\",\n        icon: \"mdi:power-socket-uk\",\n\t    payload_on: \"true\", // Values to be sent to Node-RED via MQTT\n\t    payload_off: \"false\", // Values to be sent to Node-RED via MQTT\n\t    state_on: \"1\", // Values exspected be sent from Node-RED via MQTT (payload format to match JSON from sensor)\n\t    state_off: \"0\", // Values exspected be sent from Node-RED via MQTT (payload format to match JSON from sensor)\n        command_topic: SET_TOPIC, // Commands topic to be actioned on by Node-RED\n    },\n    topic: \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"/plug_switch_set/config\"\n};\n\n// Return all the data.\nreturn [config1, config2, config3, config4, config5, config6];",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 120,
        "wires": [
            [
                "ebdb6d0ae6b68d8d"
            ],
            [
                "ebdb6d0ae6b68d8d"
            ],
            [
                "ebdb6d0ae6b68d8d"
            ],
            [
                "ebdb6d0ae6b68d8d"
            ],
            [
                "ebdb6d0ae6b68d8d"
            ],
            [
                "ebdb6d0ae6b68d8d"
            ]
        ]
    },
    {
        "id": "9e25bcb4c2703785",
        "type": "function",
        "z": "f075697e81a4e38d",
        "name": "Publish to all",
        "func": "msg.topic = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "ebdb6d0ae6b68d8d"
            ]
        ]
    },
    {
        "id": "7fe860ac2a5bcb1c",
        "type": "delay",
        "z": "f075697e81a4e38d",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "9e25bcb4c2703785"
            ]
        ]
    },
    {
        "id": "9b3f97706e416b89",
        "type": "delay",
        "z": "f075697e81a4e38d",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "e69c1c8256f84f5b",
                "7fe860ac2a5bcb1c"
            ]
        ]
    },
    {
        "id": "b2942f9633cb6c6b",
        "type": "delay",
        "z": "f075697e81a4e38d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "9b3f97706e416b89"
            ]
        ]
    },
    {
        "id": "53181c175b6515ff",
        "type": "delay",
        "z": "f075697e81a4e38d",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1090,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bd35507599327640",
        "type": "function",
        "z": "833a40a2676dab42",
        "name": "Create MQTT discovery messages",
        "func": "// Rev 1. Richard Huish 2023\n// Designed for Home Assistant automatic MQTT Discovery\n// https://www.home-assistant.io/integrations/mqtt/#mqtt-discovery\n\n// Change this to match the IP of your Raspberry Pi with ENER314-RT, used in Home Assistant for proving user with hyperlink.\nvar CONFIGURATION_VAR = \"http://192.168.10.35:1880/\";\n\nvar MODEL_NAME = \"Smart Monitor Plug (MIHO004)\";\nvar SHARED_NAME_PREFIX = \"Energenie \";\n// var IDENTIFIER_NAME_PREFIX = \"Energenie MQTT Gateway\";\nvar IDENTIFIERS_PREFIX = \"energenie_mqtt_gateway_\";\n\n\nvar MANUFACTURER_NAME = \"Energenie (via MQTT Raspberry Pi with ENER314-RT)\";\nvar VIA_DEVICE_NAME = \"MQTT Raspberry Pi with ENER314-RT\"; \nvar UNIQUE_ID_SUFFIX = \"_energenie_mqtt\"; \nvar EXPIRE_AFTER = \"60\";\nvar STATE_TOPIC = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\n\n\n// Code reuse to save typing it out for each config.\nvar AVAILABILITY = [\n    {\n        topic: \"energenie_gateway/bridge/state\",\n        payload_available: \"online\",\n        payload_not_available: \"offline\"\n    }\n];\nvar DEVICE = {\n    name: msg.payload.deviceId,\n    identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n    configuration_url: CONFIGURATION_VAR,\n    manufacturer: MANUFACTURER_NAME,\n    model: MODEL_NAME,\n    via_device: VIA_DEVICE_NAME\n};\n\n// Measured power sensor in watts.\nvar config1 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Power\",\n        unique_id: msg.payload.deviceId + \"_power\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.REAL_POWER }}\",\n        unit_of_measurement: \"W\",\n        device_class: \"power\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/power/config\"\n};\n\n// Measured voltage sensor in volts.\nvar config2 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Voltage\",\n        unique_id: msg.payload.deviceId + \"_voltage\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.VOLTAGE }}\",\n        unit_of_measurement: \"V\",\n        device_class: \"voltage\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/voltage/config\"\n};\n\n// Measured frequency in Hz.\nvar config3 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Frequency\",\n        unique_id: msg.payload.deviceId + \"_frequency\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.FREQUENCY | round(2) }}\",\n        unit_of_measurement: \"Hz\",\n        device_class: \"frequency\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/frequency/config\"\n};\n\n// Measured reactive power in VAR.\nvar config4 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Reactive Power\",\n        unique_id: msg.payload.deviceId + \"_reactive_power\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.REACTIVE_POWER }}\",\n        unit_of_measurement: \"var\",\n        device_class: \"reactive_power\",\n        state_class: \"measurement\"\n        // icon: \"mdi:flash\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/reactive_power/config\"\n};\n\n// Return all the data.\nreturn [config1, config2, config3, config4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 180,
        "wires": [
            [
                "ba7d6c58e1538a80"
            ],
            [
                "ba7d6c58e1538a80"
            ],
            [
                "ba7d6c58e1538a80"
            ],
            [
                "ba7d6c58e1538a80"
            ]
        ]
    },
    {
        "id": "60740ddd1ac044ac",
        "type": "function",
        "z": "833a40a2676dab42",
        "name": "Publish to all",
        "func": "msg.topic = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "ba7d6c58e1538a80"
            ]
        ]
    },
    {
        "id": "e522e5aa96382318",
        "type": "delay",
        "z": "833a40a2676dab42",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "60740ddd1ac044ac"
            ]
        ]
    },
    {
        "id": "3f74de5531bb36c1",
        "type": "delay",
        "z": "833a40a2676dab42",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "bd35507599327640",
                "e522e5aa96382318"
            ]
        ]
    },
    {
        "id": "3389ae28a8747889",
        "type": "delay",
        "z": "833a40a2676dab42",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "3f74de5531bb36c1"
            ]
        ]
    },
    {
        "id": "936215286e2aab7a",
        "type": "delay",
        "z": "833a40a2676dab42",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a5c081218aa0a38b",
        "type": "function",
        "z": "cdb62d5ce7ac8e79",
        "name": "Create MQTT discovery messages",
        "func": "// Rev 1. Richard Huish 2023\n// Designed for Home Assistant automatic MQTT Discovery\n// https://www.home-assistant.io/integrations/mqtt/#mqtt-discovery\n\n// Change this to match the IP of your Raspberry Pi with ENER314-RT, used in Home Assistant for proving user with hyperlink.\nvar CONFIGURATION_VAR = \"http://192.168.10.35:1880/\";\n\nvar MODEL_NAME = \"eTRV (MIHO013)\";\nvar SHARED_NAME_PREFIX = \"Energenie \";\n// var IDENTIFIER_NAME_PREFIX = \"Energenie MQTT Gateway\";\nvar IDENTIFIERS_PREFIX = \"energenie_mqtt_gateway_\";\n\n\nvar MANUFACTURER_NAME = \"Energenie (via MQTT Raspberry Pi with ENER314-RT)\";\nvar VIA_DEVICE_NAME = \"MQTT Raspberry Pi with ENER314-RT\";\nvar UNIQUE_ID_SUFFIX = \"_energenie_mqtt\";\nvar EXPIRE_AFTER = \"400\"; // eTRV reports its temperature at the SET_REPORTING_INTERVAL (default 5 minutes)\nvar STATE_TOPIC = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\n\n// Code reuse to save typing it out for each config.\nvar AVAILABILITY = [\n    {\n        topic: \"energenie_gateway/bridge/state\",\n        payload_available: \"online\",\n        payload_not_available: \"offline\"\n    }\n];\nvar DEVICE = {\n    name: msg.payload.deviceId,\n    identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n    configuration_url: CONFIGURATION_VAR,\n    manufacturer: MANUFACTURER_NAME,\n    model: MODEL_NAME,\n    via_device: VIA_DEVICE_NAME\n};\n\n// Control and eTRV\nvar config1 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // entity_category: \"none\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        // retain: true,\n        name: msg.payload.deviceId + \" Radiator\",\n        unique_id: msg.payload.deviceId + \"_trv\",\n        temperature_unit: \"C\",\n\n        //Limit the climate modes to just heat (no fan, cool, etc)\n        // If this would ever chnage then the forced \"heat\" mode in the pre-node would need to be removed.\n        // Could add an off mode, which closes the valve. But this is not how energenie did it on their app.\n        // modes: [\"off\",\"heat\"],\n        // modes: [\"heat\"],\n        \n        modes: \"heat\",\n        mode_state_topic: STATE_TOPIC,\n        mode_state_template: \"{{ value_json.mode }}\", // Fake mode manually added\n        optimistic: \"true\", // Enforce optimistic mode, to hide the 5 min delay for setpoint command delays from the frontend  \n        temp_step: \"0.5\", // Step size for temperature set point.\n        \n        // The MQTT topic on which to listen for the current temperature. (int) NOTE: The VALVE_STATE must be set to 'Auto' for this to work.\n        current_temperature_topic: STATE_TOPIC,\n        current_temperature_template: \"{{ value_json.TEMPERATURE }}\",\n\n        // MQTT topic to subscribe for changes in the target temperature\n        temperature_state_topic: STATE_TOPIC,\n        temperature_state_template: \"{{ value_json.TARGET_TEMP }}\",\n\n        // The MQTT topic to publish commands to change the target temperature.\n        temperature_command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        temperature_command_template: '{ \"command\":244, \"data\":{{value}} }', // command = 244 is for setting the target temperature, so I DON'T need to edit the passed data back from MQTT\n\n        // Temp Range as per manual\n        max_temp: 30,\n        min_temp: -4\n\n    },\n    topic: \"homeassistant/climate/energeniemqtt_\" + msg.payload.deviceId + \"/trv/config\"\n};\n\nvar config2 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        entity_category: \"diagnostic\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Battery Voltage\",\n        unique_id: msg.payload.deviceId + \"/battery_voltages\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.VOLTAGE }}\",\n        unit_of_measurement: \"V\",\n        device_class: \"voltage\",\n        state_class: \"measurement\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/battery_voltages/config\"\n};\n\nvar config3 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        entity_category: \"diagnostic\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Battery Level\",\n        unique_id: msg.payload.deviceId + \"/battery_level\",\n        state_topic: STATE_TOPIC,\n        // (($volt - $low) / ($high - $low)) * 100;\n        value_template: \"{{ (((value_json.VOLTAGE - 2.2) / (3.3 - 2.2)) * 100) | round(0) }}\", // 3.3V nominally with new batteries \n\n        unit_of_measurement: \"%\",\n        device_class: \"battery\",\n        state_class: \"measurement\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/battery_level/config\"\n};\n\nvar config4 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        entity_category: \"diagnostic\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Valve Exercised Issues\",\n        unique_id: msg.payload.deviceId + \"/valve_exercised\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.EXERCISE_VALVE }}\",\n        device_class: \"problem\",\n        // state_class: \"measurement\",\n        // icon: \"mdi:flash\",\n        payload_on: \"fail\", //payload format to match JSON from sensor\n        payload_off: \"success\" //payload format to match JSON from sensor\n    },\n    topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/valve_exercised/config\"\n\n};\n\nvar config5 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        entity_category: \"diagnostic\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Last Timestamp\",\n        unique_id: msg.payload.deviceId + \"/last_timestamp\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.timestamp | timestamp_local}}\", // Timestamp of last update\n        device_class: \"TIMESTAMP\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/last_timestamp/config\"\n};\n\nvar config6 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        entity_category: \"diagnostic\",\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Voltage Timestamp\",\n        unique_id: msg.payload.deviceId + \"/voltage_timestamp\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.VOLTAGE_TS | timestamp_local}}\", // Timestamp of last voltage update\n        // unit_of_measurement: \"N/A\",\n        device_class: \"timestamp\",\n        // state_class: \"none\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/voltage_timestamp/config\"\n};\n\nvar config7 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Valve Timestamp\",\n        unique_id: msg.payload.deviceId + \"/valve_timestamp\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.VALVE_TS | timestamp_local}}\", // Timestamp of last valve update\n        // unit_of_measurement: \"N/A\",\n        device_class: \"timestamp\",\n        // state_class: \"none\",\n        entity_category: \"diagnostic\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/valve_timestamp/config\"\n};\n\nvar config8 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Diagnostics Timestamp\",\n        unique_id: msg.payload.deviceId + \"/diagnostics_timestamp\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.DIAGNOSTICS_TS | timestamp_local }}\", // Timestamp of last diagnostics update\n        // unit_of_measurement: \"N/A\",\n        device_class: \"timestamp\",\n        // state_class: \"none\",\n        entity_category: \"diagnostic\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/diagnostics_timestamp/config\"\n};\n\nvar config9 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: msg.payload.deviceId + \" Identify\",\n        unique_id: msg.payload.deviceId + \"/identify\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        payload_press: '{\"command\":191}',\n        entity_category: \"config\",\n        icon: \"mdi:home-search\"\n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + msg.payload.deviceId + \"/identify/config\"\n};\n\nvar config10 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: msg.payload.deviceId + \" Calibrate\",\n        unique_id: msg.payload.deviceId + \"/calibrate\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        payload_press: '{\"command\":163}',\n        device_class: \"restart\",\n        entity_category: \"config\"\n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + msg.payload.deviceId + \"/calibrate/config\"\n};\n\nvar config11 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: msg.payload.deviceId + \" Request Diagnostics\",\n        unique_id: msg.payload.deviceId + \"/request_diagnostics\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        payload_press: '{\"command\":166}',\n        device_class: \"restart\",\n        entity_category: \"config\",\n        icon: \"mdi:doctor\" \n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + msg.payload.deviceId + \"/request_diagnostics/config\"\n};\n\n\nvar config12 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: msg.payload.deviceId + \" Request Voltage\",\n        unique_id: msg.payload.deviceId + \"/request_voltage\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        payload_press: '{\"command\":226}',\n        device_class: \"restart\",\n        entity_category: \"config\",\n        icon: \"mdi:flash-triangle\" \n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + msg.payload.deviceId + \"/request_voltage/config\"\n};\n\nvar config13 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false, \n        name: msg.payload.deviceId + \" Valve State Controls\",\n        unique_id: msg.payload.deviceId + \"/valve_state_controls\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        // state_topic: STATE_TOPIC, //Cant get this to work\n        // value_template: \"{{ value_json.VALVE_STATE }}\", //Cant get this to work, turns out VALVE_STATE is not returned by the valve, so we have to remember what we last set it too!\n        options: [\"Open\", \"Closed\", \"Automatic\"],\n        entity_category: \"config\"\n        // payload_press: '{\"command\":226}',\n        // device_class: \"restart\",\n        // entity_category: \"config\",\n        // icon: \"mdi:flash-triangle\"\n    },\n    topic: \"homeassistant/select/energeniemqtt_\" + msg.payload.deviceId + \"/valve_state_contols/config\"\n};\n\nvar config14 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: false,\n        name: msg.payload.deviceId + \" Low Power Mode\",\n        unique_id: msg.payload.deviceId + \"/low_power_mode\",\n        state_topic: STATE_TOPIC,\n        optimistic: false,\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/command\",\n        value_template: \"{{value_json.LOW_POWER_MODE}}\",\n        device_class: \"switch\",\n        state_on: \"True\", //payload format to match JSON from sensor\n        state_off: \"False\", //payload format to match JSON from sensor\n        payload_on: '{ \"command\":164, \"data\":1 }',\n        payload_off: '{ \"command\":164, \"data\":0 }',\n        entity_category: \"config\",\n        icon: \"mdi:sprout\"\n    },\n    topic: \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"/low_power_mode/config\"\n\n};\n\nvar config15 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Low Power Mode State\",\n        unique_id: msg.payload.deviceId + \"/low_power_mode_state\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.LOW_POWER_MODE }}\",\n        // device_class: \"problem\",\n        // state_class: \"measurement\",\n        icon: \"mdi:sprout\",\n        entity_category: \"diagnostic\",\n        payload_on: \"True\", //payload format to match JSON from sensor\n        payload_off: \"False\", //payload format to match JSON from sensor\n    },\n    topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/low_power_mode_state/config\"\n};\n\nvar config16 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Errors\",\n        unique_id: msg.payload.deviceId + \"/errors\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.ERRORS }}\",\n        // device_class: \"problem\",\n        // state_class: \"measurement\",\n        // icon: \"mdi:sprout\",\n        entity_category: \"diagnostic\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/errors/config\"\n};\n\nvar config17 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: true,\n        name: msg.payload.deviceId + \" Error Text\",\n        unique_id: msg.payload.deviceId + \"/error_text\",\n        state_topic: STATE_TOPIC,\n        value_template: \"{{ value_json.ERROR_TEXT }}\",\n        entity_category: \"diagnostic\"\n        // payload_press: '{\"command\":226}',\n        // device_class: \"restart\",\n        // entity_category: \"config\",\n        // icon: \"mdi:flash-triangle\"\n    },\n    topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/error_text/config\"\n};\n\n\nvar config18 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        // expire_after: EXPIRE_AFTER, // never expire\n        retain: false,\n        name: msg.payload.deviceId + \" Reporting Interval\",\n        unique_id: msg.payload.deviceId + \"/reporting_interval\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/set\",\n        // state_topic: STATE_TOPIC, // Valve never returns this value, so you have to work optimistically.\n        min: 300,\n        max: 3600,\n        unit_of_measurement: \"s\",\n        command_template: '{ \"command\":210, \"data\":{{value}}}',\n        // device_class: \"restart\",\n        entity_category: \"config\",\n        icon: \"mdi:timer-edit-outline\"\n    },\n    topic: \"homeassistant/number/energeniemqtt_\" + msg.payload.deviceId + \"/set_reporting_interval/config\"\n};\n\nreturn [config1, config2, config3, config4, config5, config6, config7, config8, config9, config10, config11, config12, config13, config14, config15, config16, config17, config18]; \n\n\n// This one does not work!\n// turns out VALVE_STATE is not returned by the valve, so we have to remember what we last set it too!\n// var config14 = {\n//     payload: {\n//         // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n//         availability: AVAILABILITY,\n//         device: DEVICE,\n//         // expire_after: EXPIRE_AFTER, // never expire\n//         retain: true,\n//         name: msg.payload.deviceId + \" Valve State Info\",\n//         unique_id: msg.payload.deviceId + \"/valve_state_info\",\n//         state_topic: STATE_TOPIC,\n//         value_template: \"{{ value_json.VALVE_STATE }}\",\n//         // unit_of_measurement: \"N/A\",\n//         // device_class: \"none\",\n//         // state_class: \"none\",\n//         entity_category: \"diagnostic\"\n//         // icon: \"mdi:current-dc\"\n//     },\n//     topic: \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/valve_state_info/config\"\n// };\n\n\n// // Need to get working: https://www.home-assistant.io/integrations/device_trigger.mqtt/\n// var config10 = {\n//     payload: {\n//         // availability_mode: \"all\",\n//         availability: [\n//             {\n//                 topic: \"energenie_gateway/bridge/state\",\n//                 payload_available: \"online\",\n//                 payload_not_available: \"offline\"\n//             }\n//         ],\n//         device: {\n//             name: msg.payload.deviceId,\n//             identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n//             configuration_url: CONFIGURATION_VAR,\n//             manufacturer: MANUFACTURER_NAME,\n//             model: MODEL_NAME,\n//             via_device: VIA_DEVICE_NAME\n//         },\n// //         // entity_category: \"none\",\n//         // expire_after: EXPIRE_AFTER, // never expire\n//         // retain: false,\n//         // name: msg.payload.deviceId + \" Identify\",\n//         // unique_id: msg.payload.deviceId + \"/identify\",\n//         // state_topic: STATE_TOPIC,\n//         // value_template: \"{{ value_json.EXERCISE_VALVE}}\",\n//         // entity_category: \"config\",\n//         // device_class: \"None\"\n//         // // state_class: \"measurement\",\n//         // // icon: \"mdi:flash\"\n//         automation_type: \n\n\n//     },\n//     topic: \"homeassistant/device_automation/energeniemqtt_\" + msg.payload.deviceId + \"/id_button/config\"\n\n// };",
        "outputs": 18,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ],
            [
                "90853accac1ab854"
            ]
        ]
    },
    {
        "id": "a7e17306d2058706",
        "type": "delay",
        "z": "cdb62d5ce7ac8e79",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "8aa18cb79c3162bc"
            ]
        ]
    },
    {
        "id": "4dea4655068f7a7f",
        "type": "debug",
        "z": "cdb62d5ce7ac8e79",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 600,
        "y": 20,
        "wires": []
    },
    {
        "id": "1b26d96dfd7c0a9d",
        "type": "function",
        "z": "cdb62d5ce7ac8e79",
        "name": "Set mode = heat",
        "func": "msg.payload.mode = \"heat\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "4dea4655068f7a7f",
                "a5c081218aa0a38b",
                "a7e17306d2058706"
            ]
        ]
    },
    {
        "id": "8aa18cb79c3162bc",
        "type": "function",
        "z": "cdb62d5ce7ac8e79",
        "name": "Publish to all",
        "func": "msg.topic = \"energenie_gateway/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 440,
        "wires": [
            [
                "90853accac1ab854"
            ]
        ]
    },
    {
        "id": "c05c3205643928c1",
        "type": "delay",
        "z": "cdb62d5ce7ac8e79",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c9e1dddbb741fba5",
        "type": "delay",
        "z": "cdb62d5ce7ac8e79",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "1b26d96dfd7c0a9d"
            ]
        ]
    },
    {
        "id": "7207a0429a928361",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "name": "https://github.com/genestealer/node-red-energenie-ener314rt-home-assistant-mqtt",
        "info": "",
        "x": 330,
        "y": 20,
        "wires": []
    },
    {
        "id": "db52f7a86ff3fedd",
        "type": "ook-switch",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Double Gang Light: 1:1",
        "zone": "1",
        "switchNum": 1,
        "board": "88fbf5a17def056c",
        "x": 690,
        "y": 1140,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-energenie-ener314rt/LightSwitch.png"
    },
    {
        "id": "f6c3b6f8fa2dd920",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "db52f7a86ff3fedd"
            ]
        ]
    },
    {
        "id": "80cedc3bf9e60653",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 390,
        "y": 1140,
        "wires": [
            [
                "db52f7a86ff3fedd"
            ]
        ]
    },
    {
        "id": "c46934dffc3bcb2d",
        "type": "ook-switch",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Double Gang Light: 1:2",
        "zone": "1",
        "switchNum": "2",
        "board": "88fbf5a17def056c",
        "x": 690,
        "y": 1220,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-energenie-ener314rt/LightSwitch.png"
    },
    {
        "id": "db083b5f26996a4c",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "c46934dffc3bcb2d"
            ]
        ]
    },
    {
        "id": "dad03b1c53fcc63b",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "c46934dffc3bcb2d"
            ]
        ]
    },
    {
        "id": "4398775347ed8679",
        "type": "ook-switch",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Light: 2:1",
        "zone": "1",
        "switchNum": 1,
        "board": "88fbf5a17def056c",
        "x": 640,
        "y": 1360,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-energenie-ener314rt/LightSwitch.png"
    },
    {
        "id": "9978c67901c1a989",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 390,
        "y": 1320,
        "wires": [
            [
                "4398775347ed8679"
            ]
        ]
    },
    {
        "id": "bf87fe53c72c7d7e",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 390,
        "y": 1360,
        "wires": [
            [
                "4398775347ed8679"
            ]
        ]
    },
    {
        "id": "d989ab87daa5443f",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Create MQTT discovery messages",
        "func": "var MODEL_NAME = \"Double Gang MiHome Light (MIHO009)\";\nvar SHARED_NAME_PREFIX = \"Energenie \";\n// var IDENTIFIER_NAME_PREFIX = \"Energenie MQTT Gateway\";\nvar IDENTIFIERS_PREFIX = \"energenie_mqtt_gateway_\";\n\n\nvar MANUFACTURER_NAME = \"Energenie (via MQTT Raspberry Pi with ENER314-RT)\";\nvar CONFIGURATION_VAR = \"http://192.168.10.35:1880/\";\nvar VIA_DEVICE_NAME = \"MQTT Raspberry Pi with ENER314-RT\";\nvar UNIQUE_ID_SUFFIX = \"_energenie_mqtt\";\nvar EXPIRE_AFTER = \"60\";\n\nvar config1 = {\n    payload: {\n        // availability_mode: \"all\",\n        availability: [\n            {\n                topic: \"energenie_gateway/bridge/state\",\n                payload_available: \"online\",\n                payload_not_available: \"offline\"\n            }\n        ],\n        device: {\n            name: msg.payload.deviceId,\n            identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n            configuration_url: CONFIGURATION_VAR,\n            manufacturer: MANUFACTURER_NAME,\n            model: MODEL_NAME,\n            via_device: VIA_DEVICE_NAME\n        },\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Switch State\",\n        unique_id: msg.payload.deviceId + \"_switch_state\",\n        state_topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/state\",\n        value_template: \"{{ value_json.SWITCH_STATE }}\",\n        // unit_of_measurement: \"var\",\n        device_class: \"power\",\n        // state_class: \"measurement\",\n        // icon: \"mdi:flash\"\n        payload_on: \"1\", //payload format to match JSON from sensor\n        payload_off: \"0\", //payload format to match JSON from sensor\n    },\n    topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"_reactive_power/config\"\n};\n\nvar config2 = {\n    payload: {\n        // availability_mode: \"all\",\n        availability: [\n            {\n                topic: \"energenie_gateway/bridge/state\",\n                payload_available: \"online\",\n                payload_not_available: \"offline\"\n            }\n        ],\n        device: {\n            name: msg.payload.deviceId,\n            identifiers: IDENTIFIERS_PREFIX + msg.payload.deviceId,\n            configuration_url: CONFIGURATION_VAR,\n            manufacturer: MANUFACTURER_NAME,\n            model: MODEL_NAME,\n            via_device: VIA_DEVICE_NAME\n        },\n        // enabled_by_default: true,\n        // entity_category: \"none\",\n        expire_after: EXPIRE_AFTER,\n        name: msg.payload.deviceId + \" Switch\",\n        unique_id: msg.payload.deviceId + \"_switch_set\",\n        // state_topic: \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"/state\",\n        state_topic: \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/state\", // Track the state of the sensor value.\n        value_template: \"{{ value_json.SWITCH_STATE }}\",\n        // unit_of_measurement: \"var\",\n        device_class: \"outlet\",\n        // state_class: \"measurement\",\n        // icon: \"mdi:flash\"\n        payload_on: \"true\", // Values to be sent to Node-RED via MQTT\n        payload_off: \"false\", // Values to be sent to Node-RED via MQTT\n        state_on: \"1\", // Values exspected be sent from Node-RED via MQTT (payload format to match JSON from sensor)\n        state_off: \"0\", // Values exspected be sent from Node-RED via MQTT (payload format to match JSON from sensor)\n        command_topic: \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"/set\", // Commands topic to be actioned on by Node-RED\n    },\n    topic: \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"_switch_set/config\"\n};\n\n\nreturn [config1, config2];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1140,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "e0f4df05ab1bef7e",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Publish to sensor",
        "func": "msg.topic = \"homeassistant/sensor/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "1f14589732fae5c6",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Publish to binary_sensor",
        "func": "msg.topic = \"homeassistant/binary_sensor/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "3b7b181075c1ef3b",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Publish to switch",
        "func": "msg.topic = \"homeassistant/switch/energeniemqtt_\" + msg.payload.deviceId + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "609e085f01975b46",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1220,
        "wires": [
            [
                "1f14589732fae5c6",
                "6e774504ac1563d2"
            ]
        ]
    },
    {
        "id": "c5a79ac44753842f",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1140,
        "wires": [
            [
                "d989ab87daa5443f",
                "609e085f01975b46"
            ]
        ]
    },
    {
        "id": "6e774504ac1563d2",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1260,
        "wires": [
            [
                "e0f4df05ab1bef7e",
                "f0d71363803e24f8"
            ]
        ]
    },
    {
        "id": "f0d71363803e24f8",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1300,
        "wires": [
            [
                "3b7b181075c1ef3b"
            ]
        ]
    },
    {
        "id": "edea18ceaf6e05c2",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Double Gang MiHome Light (MIHO009)",
        "info": "",
        "x": 230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e3cf621895e62eef",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "Action",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "aa286eb049368e95"
            ]
        ]
    },
    {
        "id": "e0b4a5ede84fec43",
        "type": "inject",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "Action",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "eb64c277ce27959b"
            ]
        ]
    },
    {
        "id": "aa286eb049368e95",
        "type": "shutdown",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "eb64c277ce27959b",
        "type": "restart",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "3ba2b2ec9a663b9e",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "Pi Power Control",
        "info": "",
        "x": 120,
        "y": 100,
        "wires": []
    },
    {
        "id": "89732ff349aee7b8",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "a5de3889fbc07d90",
        "name": "Incomplete",
        "info": "",
        "x": 520,
        "y": 1020,
        "wires": []
    },
    {
        "id": "048759ea643eacfb",
        "type": "mqtt out",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "Publish MQTT Messages",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8d7ee635c95c5781",
        "x": 1450,
        "y": 200,
        "wires": []
    },
    {
        "id": "6a4a9705132f9175",
        "type": "link in",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "MQTT Publish",
        "links": [
            "805f901224d8a0c4",
            "53b1e31e569b3b08",
            "772af1e9a0321b31",
            "3b91fab1361079d1"
        ],
        "x": 895,
        "y": 200,
        "wires": [
            [
                "5373ffc4598fc724"
            ]
        ],
        "outputLabels": [
            "MQTT Publish"
        ],
        "icon": "node-red/bridge-dash.svg"
    },
    {
        "id": "88fa3c012b3a4d47",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "MQTT Publish",
        "info": "",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "5373ffc4598fc724",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1030,
        "y": 200,
        "wires": [
            [
                "a381d93238425f22",
                "c2152f26c8074e8f"
            ]
        ]
    },
    {
        "id": "a381d93238425f22",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "5",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1230,
        "y": 200,
        "wires": [
            [
                "048759ea643eacfb"
            ]
        ]
    },
    {
        "id": "cf0cdb1ed18f7ed7",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "Create MQTT discovery messages",
        "func": "// Rev 1. Richard Huish 2023\n// Designed for Home Assistant automatic MQTT Discovery\n// https://www.home-assistant.io/integrations/mqtt/#mqtt-discovery\n\n// Change this to match the IP of your Raspberry Pi with ENER314-RT, used in Home Assistant for proving user with hyperlink.\nvar CONFIGURATION_VAR = \"http://192.168.10.35:1880/\";\n\nvar MODEL_NAME = \"ENER314-RT\";\nvar SHARED_NAME_PREFIX = \"Energenie \";\n// var IDENTIFIER_NAME_PREFIX = \"Energenie MQTT Gateway\";\nvar IDENTIFIERS_PREFIX = \"energenie_mqtt_gateway_\";\n\n\nvar MANUFACTURER_NAME = \"Energenie (via MQTT Raspberry Pi with ENER314-RT)\";\nvar VIA_DEVICE_NAME = \"Raspberry Pi\";\nvar UNIQUE_ID_SUFFIX = \"_energenie_mqtt\";\nvar EXPIRE_AFTER = \"400\"; // eTRV reports its temperature at the SET_REPORTING_INTERVAL (default 5 minutes)\nvar STATE_TOPIC = \"energenie_gateway/energeniemqtt_\" + \"energenie_gateway\" + \"/state\";\n\n// Code reuse to save typing it out for each config.\nvar AVAILABILITY = [\n    {\n        topic: \"energenie_gateway/bridge/state\",\n        payload_available: \"online\",\n        payload_not_available: \"offline\"\n    }\n];\nvar DEVICE = {\n    name: \"Energenie Gateway\",\n    identifiers: IDENTIFIERS_PREFIX + \"energenie_gateway\",\n    configuration_url: CONFIGURATION_VAR,\n    manufacturer: MANUFACTURER_NAME,\n    model: MODEL_NAME,\n    via_device: VIA_DEVICE_NAME\n};\n\n\nvar config1 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: \"Energenie Gateway\" + \" Restart\",\n        unique_id: \"energenie_gateway_1\" + \"/restart\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + \"energenie_gateway_1\" + \"/set\",\n        payload_press: '{\"energenie_gateway\":\"reboot\"}',\n        device_class: \"restart\"\n        // entity_category: \"control\",\n        // icon: \"mdi:doctor\"\n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + \"energenie_gateway_1\" + \"/restart/config\"\n};\nvar config2 = {\n    payload: {\n        // availability_mode: \"all\",  // Commented out as we are using only one topic at the moment.\n        availability: AVAILABILITY,\n        device: DEVICE,\n        retain: false,\n        name: \"Energenie Gateway\" + \" shutdown\",\n        unique_id: \"energenie_gateway_1\" + \"/shutdown\",\n        command_topic: \"energenie_gateway/energeniemqtt_\" + \"energenie_gateway_2\" + \"/set\",\n        payload_press: '{\"energenie_gateway\":\"shutdown\"}',\n        // entity_category: \"control\",\n        icon: \"mdi:power\"\n    },\n    topic: \"homeassistant/button/energeniemqtt_\" + \"energenie_gateway_2\" + \"/restart/config\"\n};\n\nreturn [config1, config2]; \n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "502ccec7e8e38c72"
            ],
            [
                "502ccec7e8e38c72"
            ]
        ]
    },
    {
        "id": "1e708fdbdb9831a0",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "",
        "pauseType": "delay",
        "timeout": "600",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "aa6d11838c4cf4bf"
            ]
        ]
    },
    {
        "id": "aa6d11838c4cf4bf",
        "type": "function",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "Publish to all",
        "func": "msg.topic = \"energenie_gateway/energeniemqtt_\" + \"energenie_gateway\" + \"/state\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 600,
        "wires": [
            [
                "502ccec7e8e38c72"
            ]
        ]
    },
    {
        "id": "502ccec7e8e38c72",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1450,
        "y": 560,
        "wires": [
            [
                "3b91fab1361079d1"
            ]
        ]
    },
    {
        "id": "3b91fab1361079d1",
        "type": "link out",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "6a4a9705132f9175"
        ],
        "x": 1615,
        "y": 560,
        "wires": []
    },
    {
        "id": "272889a66b307243",
        "type": "delay",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 560,
        "wires": [
            [
                "cf0cdb1ed18f7ed7",
                "1e708fdbdb9831a0"
            ]
        ]
    },
    {
        "id": "aa7d0fb3cf4ebfea",
        "type": "switch",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "Select option",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "reboot",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "shutdown",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 560,
        "wires": [
            [
                "e273f6d4c4b52b8e"
            ],
            [
                "bcb7a46f0ad8832d"
            ]
        ]
    },
    {
        "id": "18bab721cd21cbf2",
        "type": "mqtt in",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "",
        "topic": "energenie_gateway/+/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "8d7ee635c95c5781",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "aa7d0fb3cf4ebfea"
            ]
        ]
    },
    {
        "id": "c95eee0532754c73",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "USER EDIT: MQTT gateway",
        "info": "",
        "x": 180,
        "y": 520,
        "wires": []
    },
    {
        "id": "c2152f26c8074e8f",
        "type": "link out",
        "z": "537eb81ac592d6ae",
        "g": "75710a4188d28a86",
        "name": "link out 20",
        "mode": "link",
        "links": [
            "a9394215c6562fd7"
        ],
        "x": 1185,
        "y": 280,
        "wires": []
    },
    {
        "id": "a9394215c6562fd7",
        "type": "link in",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "link in 4",
        "links": [
            "c2152f26c8074e8f"
        ],
        "x": 725,
        "y": 560,
        "wires": [
            [
                "272889a66b307243"
            ]
        ]
    },
    {
        "id": "bcb7a46f0ad8832d",
        "type": "link out",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "link out 21",
        "mode": "link",
        "links": [
            "b651e240251a63ec"
        ],
        "x": 555,
        "y": 580,
        "wires": []
    },
    {
        "id": "b651e240251a63ec",
        "type": "link in",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "link in 5",
        "links": [
            "bcb7a46f0ad8832d"
        ],
        "x": 295,
        "y": 120,
        "wires": [
            [
                "aa286eb049368e95"
            ]
        ]
    },
    {
        "id": "e273f6d4c4b52b8e",
        "type": "link out",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "link out 22",
        "mode": "link",
        "links": [
            "31b096bb11767739"
        ],
        "x": 555,
        "y": 540,
        "wires": []
    },
    {
        "id": "31b096bb11767739",
        "type": "link in",
        "z": "537eb81ac592d6ae",
        "g": "bf9b9330f440c33a",
        "name": "link in 6",
        "links": [
            "e273f6d4c4b52b8e"
        ],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "eb64c277ce27959b"
            ]
        ]
    },
    {
        "id": "bbc63ae0ea19d2fe",
        "type": "comment",
        "z": "537eb81ac592d6ae",
        "g": "be8e8de1061deea7",
        "name": "Gateway",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "77ed5f63338f8d1a",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "3463",
        "info": "",
        "x": 1410,
        "y": 540,
        "wires": []
    },
    {
        "id": "4345c0284d70f3de",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "b6bd7189b0279cc5",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 540,
        "wires": [
            [
                "c6b093a86c04ba16"
            ]
        ]
    },
    {
        "id": "63d96b05917c4891",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "5993",
        "info": "",
        "x": 1410,
        "y": 600,
        "wires": []
    },
    {
        "id": "e80248c229e928c9",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "c73827dd95a46815",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 600,
        "wires": [
            [
                "f514c3862752c9b4"
            ]
        ]
    },
    {
        "id": "32ae8339baac927f",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "2989",
        "info": "",
        "x": 1410,
        "y": 660,
        "wires": []
    },
    {
        "id": "b9e1db538b2c23f4",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "03f8fe03bec6f55a",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 660,
        "wires": [
            [
                "e9a3b8357c9c38d9"
            ]
        ]
    },
    {
        "id": "6ea369c24c18ccd3",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "4329",
        "info": "",
        "x": 1410,
        "y": 720,
        "wires": []
    },
    {
        "id": "8fc60a30c88c0ef9",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "e09f66fe193571c6",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 720,
        "wires": [
            [
                "ea365cc86077b7a5"
            ]
        ]
    },
    {
        "id": "fa39242094324119",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "4324",
        "info": "",
        "x": 1410,
        "y": 840,
        "wires": []
    },
    {
        "id": "621f444a414daabc",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "cd48f129e1e4d8e7",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 840,
        "wires": [
            [
                "43e6d8381ecb9331"
            ]
        ]
    },
    {
        "id": "151906f30c58b319",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "4335",
        "info": "",
        "x": 1410,
        "y": 900,
        "wires": []
    },
    {
        "id": "26d013a8d14dc131",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "da83621dd79ae388",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 900,
        "wires": [
            [
                "5cf2f55df6742476"
            ]
        ]
    },
    {
        "id": "26a4d478f240fd15",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "Smart Radiator Valve (MIHO013)",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "4b2487e2e7cfa0a2",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "Note: There is a 5 min delay before the TRV will get the message ",
        "info": "",
        "x": 510,
        "y": 20,
        "wires": []
    },
    {
        "id": "99f6dd3e81add433",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "USER EDIT: Device IDs for eTRVs",
        "info": "",
        "x": 1340,
        "y": 160,
        "wires": []
    },
    {
        "id": "cf0cef5a7e10d03b",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "3449",
        "info": "",
        "x": 1410,
        "y": 420,
        "wires": []
    },
    {
        "id": "5afbdef9f808b931",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "d774c54837acd05e",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 420,
        "wires": [
            [
                "ae3247f6c34b39e8"
            ]
        ]
    },
    {
        "id": "a380876d88962b29",
        "type": "switch",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "Select energeniemqtt_xxxx eTRV ",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "energeniemqtt_3233",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_5251",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_5475",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_3449",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_5318",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_3463",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_5993",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_2989",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_4329",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_4168",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_4324",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_4335",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 12,
        "x": 510,
        "y": 320,
        "wires": [
            [
                "06437078cd06684c"
            ],
            [
                "9f72ca99c409ecf7"
            ],
            [
                "fcfee4cd7f41bc55"
            ],
            [
                "5afbdef9f808b931"
            ],
            [
                "5b273f4574e1e063"
            ],
            [
                "4345c0284d70f3de"
            ],
            [
                "e80248c229e928c9"
            ],
            [
                "b9e1db538b2c23f4"
            ],
            [
                "8fc60a30c88c0ef9"
            ],
            [
                "e37676b8b5aea3b9"
            ],
            [
                "621f444a414daabc"
            ],
            [
                "26d013a8d14dc131"
            ]
        ]
    },
    {
        "id": "7d792a741cd70d6c",
        "type": "debug",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "MQTT IN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "43b3bf1c0f3c6a18",
        "type": "mqtt in",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "",
        "topic": "energenie_gateway/+/set",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8d7ee635c95c5781",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7d792a741cd70d6c",
                "c533a8bb7273e019"
            ]
        ]
    },
    {
        "id": "c533a8bb7273e019",
        "type": "change",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "Reformat Valve State Control",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Open",
                "fromt": "str",
                "to": "{ \"command\":165, \"data\":0 }",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Closed",
                "fromt": "str",
                "to": "{ \"command\":165, \"data\":1 }",
                "tot": "json"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Automatic",
                "fromt": "str",
                "to": "{ \"command\":165, \"data\":2 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "a380876d88962b29"
            ]
        ]
    },
    {
        "id": "39e666ee8d7e9ca7",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "Incoming MQTT \"COMMAND\" messages",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "cc454d1be9e24b72",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "Switch select eTRV",
        "info": "",
        "x": 460,
        "y": 200,
        "wires": []
    },
    {
        "id": "7f6f8e312914436c",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "USER EDIT: MQTT gateway",
        "info": "",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "16340f7714e67b65",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "fa73fab3d77d8daa",
        "name": "USER EDIT: Edit switch node and add new as needed",
        "info": "",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "18636c74da0dfe6e",
        "type": "subflow:cdb62d5ce7ac8e79",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "",
        "x": 1990,
        "y": 180,
        "wires": [
            [
                "4a244a4bc7436312",
                "805f901224d8a0c4"
            ]
        ]
    },
    {
        "id": "241e684d32ce5b64",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "USER EDIT: Rasberry Pi IP in Sub-Flow",
        "info": "",
        "x": 2030,
        "y": 140,
        "wires": []
    },
    {
        "id": "f155d23535a2e226",
        "type": "debug",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 240,
        "wires": []
    },
    {
        "id": "743f673c2f069661",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "3233",
        "info": "",
        "x": 1410,
        "y": 240,
        "wires": []
    },
    {
        "id": "06437078cd06684c",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "71e70e5d03cfbecf",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "ac290362f0b3ae94"
            ]
        ]
    },
    {
        "id": "d12d0a2c61623d10",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "5251",
        "info": "",
        "x": 1410,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f72ca99c409ecf7",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "4d9cd9aa20ea4eeb",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 300,
        "wires": [
            [
                "5a7c28adf647c227"
            ]
        ]
    },
    {
        "id": "4d842b8a2d4605ef",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "5318",
        "info": "",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "5b273f4574e1e063",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "cc25050701e608f8",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 480,
        "wires": [
            [
                "962037e38eb37e96"
            ]
        ]
    },
    {
        "id": "50613d7a774d7f3e",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "5475",
        "info": "",
        "x": 1410,
        "y": 360,
        "wires": []
    },
    {
        "id": "fcfee4cd7f41bc55",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "b14fe5948412f3b5",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "e2c1e92ee0a39936"
            ]
        ]
    },
    {
        "id": "c72f3bd381142b95",
        "type": "inject",
        "z": "061b272d346ebd03",
        "name": "EXERCISE_VALVE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":163}",
        "payloadType": "json",
        "x": 890,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "29a81328d008fb5e",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "Set Temp {\"command\":244,\"data\":29}",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":244,\"data\":29}",
        "payloadType": "json",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "11343262e93d1cf7",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "REQUEST_DIAGNOTICS",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":166}",
        "payloadType": "json",
        "x": 330,
        "y": 640,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "01a73f4f44b838f8",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "EXERCISE_VALVE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":163}",
        "payloadType": "json",
        "x": 310,
        "y": 740,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "c4e7618d0c8de6d4",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_VALVE_STATE Open",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":165,\"data\":0}",
        "payloadType": "json",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "9aa0bd5c8e0df7d8",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_VALVE_STATE Closed",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":165,\"data\":1}",
        "payloadType": "json",
        "x": 340,
        "y": 840,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "bbd9c96a9241fa71",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_VALVE_STATE Auto (default)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":165,\"data\":2}",
        "payloadType": "json",
        "x": 360,
        "y": 880,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "c44615c857eeef7d",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "IDENTIFY",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":191}",
        "payloadType": "json",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "f10e0c7ad4c4a76e",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_REPORTING_INTERVAL 300-3600 seconds (default 300)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":210,\"data\":300}",
        "payloadType": "json",
        "x": 450,
        "y": 960,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "4d3ec33dddf3365a",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "REQUEST_VOLTAGE",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":226}",
        "payloadType": "json",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "c0ea2d7fca78a8d4",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_LOW_POWER_MODE On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":164,\"data\":1}",
        "payloadType": "json",
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "180ee6c43e1db209",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "SET_LOW_POWER_MODE Off (default)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":164,\"data\":0}",
        "payloadType": "json",
        "x": 380,
        "y": 1180,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "943e1064f510b2a4",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "Debug eTRV commands",
        "info": "",
        "x": 310,
        "y": 560,
        "wires": []
    },
    {
        "id": "f29f7f8628a8fa6e",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "",
        "info": "Temp chnage data\n{\"deviceId\":3233,\"mfrId\":4,\"productId\":3,\"timestamp\":1673036408,\"TEMPERATURE\":21.4,\"command\":244,\"retries\":9,\"TARGET_C\":25,\"VOLTAGE\":2.64,\"VOLTAGE_TS\":1673035499,\"EXERCISE_VALVE\":\"success\",\"VALVE_TS\":1673031994,\"DIAGNOSTICS\":512,\"DIAGNOSTICS_TS\":1673031994,\"LOW_POWER_MODE\":false}\n\n\nroutine data\n{\"deviceId\":5251,\"mfrId\":4,\"productId\":3,\"timestamp\":1673036122,\"TEMPERATURE\":22.8,\"command\":191,\"retries\":6,\"TARGET_C\":29,\"VOLTAGE\":2.83,\"VOLTAGE_TS\":1672965826}",
        "x": 640,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c9e8d0cc68ce9bf2",
        "type": "comment",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "error messages",
        "info": "https://github.com/Achronite/node-red-contrib-energenie-ener314rt/blob/eb31e1ebfa30ae120de5ebe6d3e8b93f8ae775ab/C/achronite/openThings.c\n\n           case 0x74: // TEMPERATURE\n                        // Seems that TEMPERATURE (0x74) received as type OTR_INT=1, and it should be OTR_FLOAT=2 from the eTRV, so override and return a float instead\n                        sprintf(OTrecord, \",\\\"%s\\\":%.1f\", OTrecs[i].paramName, OTrecs[i].retFloat);\n                        break;\n                    case 0x26: // eTRV DIAGNOSTICS, sent as binary\n                        // adapted from gpbenton MQTT code\n                        if (OTrecs[i].retInt != 0){\n                            // at least 1 flag is set\n                            if (OTrecs[i].retInt & 0x0001) sprintf(OTrecord,\",\\\"Message\\\":\\\"Motor current below expectation\\\"\");\n                            if (OTrecs[i].retInt & 0x0002) sprintf(OTrecord,\",\\\"Message\\\":\\\"Motor current always high\");\n                            if (OTrecs[i].retInt & 0x0004) sprintf(OTrecord,\",\\\"Message\\\":\\\"Motor taking too long\");\n                            if (OTrecs[i].retInt & 0x0008) sprintf(OTrecord,\",\\\"Message\\\":\\\"Discrepancy between air and pipe sensors\");\n                            if (OTrecs[i].retInt & 0x0010) sprintf(OTrecord,\",\\\"Message\\\":\\\"Air sensor out of expected range\");\n                            if (OTrecs[i].retInt & 0x0020) sprintf(OTrecord,\",\\\"Message\\\":\\\"Pipe sensor out of expected range\");\n                            if (OTrecs[i].retInt & 0x0040) sprintf(OTrecord,\",\\\"Message\\\":\\\"Low power mode is enabled\");\n                            if (OTrecs[i].retInt & 0x0080) sprintf(OTrecord,\",\\\"Message\\\":\\\"No target temperature has been set by host\");\n                            if (OTrecs[i].retInt & 0x0100) sprintf(OTrecord,\",\\\"Message\\\":\\\"Valve may be sticking\");\n                            if (OTrecs[i].retInt & 0x0200) sprintf(OTrecord,\",\\\"Message\\\":\\\"Valve exercise was successful\");\n                            if (OTrecs[i].retInt & 0x0400) sprintf(OTrecord,\",\\\"Message\\\":\\\"Valve exercise was unsuccessful\");\n                            if (OTrecs[i].retInt & 0x0800) sprintf(OTrecord,\",\\\"Message\\\":\\\"Driver micro has suffered a watchdog reset and needs data refresh\");\n                            if (OTrecs[i].retInt & 0x1000) sprintf(OTrecord,\",\\\"Message\\\":\\\"Driver micro has suffered a noise reset and needs data refresh\");\n                            if (OTrecs[i].retInt & 0x2000) sprintf(OTrecord,\",\\\"Message\\\":\\\"Battery voltage has fallen below 2p2V and valve has been opened\");\n                            if (OTrecs[i].retInt & 0x4000) sprintf(OTrecord,\",\\\"Message\\\":\\\"Request for heat messaging is enabled\");\n                            if (OTrecs[i].retInt & 0x8000) sprintf(OTrecord,\",\\\"Message\\\":\\\"Request for heat\");",
        "x": 620,
        "y": 1180,
        "wires": []
    },
    {
        "id": "22f516cfc8a864eb",
        "type": "inject",
        "z": "061b272d346ebd03",
        "g": "045aef6db868e9d5",
        "name": "Set Temp {\"command\":244,\"data\":7}",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":244,\"data\":7}",
        "payloadType": "json",
        "x": 360,
        "y": 1060,
        "wires": [
            [
                "f4c005a8c68ef5b1"
            ]
        ]
    },
    {
        "id": "697a83dfad3973a2",
        "type": "comment",
        "z": "061b272d346ebd03",
        "name": "4168",
        "info": "",
        "x": 1410,
        "y": 780,
        "wires": []
    },
    {
        "id": "e37676b8b5aea3b9",
        "type": "openThings-trv",
        "z": "061b272d346ebd03",
        "name": "eTRV",
        "device": "e5310d357913c3dc",
        "board": "88fbf5a17def056c",
        "x": 1250,
        "y": 780,
        "wires": [
            [
                "9a1de7de60563c1e"
            ]
        ]
    },
    {
        "id": "5a7c28adf647c227",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 300,
        "wires": []
    },
    {
        "id": "7f9a36f0ba9deaa3",
        "type": "link in",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "link in 1",
        "links": [
            "5a7c28adf647c227",
            "ac290362f0b3ae94",
            "e2c1e92ee0a39936",
            "ae3247f6c34b39e8",
            "962037e38eb37e96",
            "c6b093a86c04ba16",
            "f514c3862752c9b4",
            "e9a3b8357c9c38d9",
            "ea365cc86077b7a5",
            "9a1de7de60563c1e",
            "43e6d8381ecb9331",
            "5cf2f55df6742476"
        ],
        "x": 1815,
        "y": 180,
        "wires": [
            [
                "18636c74da0dfe6e",
                "f155d23535a2e226"
            ]
        ]
    },
    {
        "id": "ac290362f0b3ae94",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 240,
        "wires": []
    },
    {
        "id": "e2c1e92ee0a39936",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 360,
        "wires": []
    },
    {
        "id": "ae3247f6c34b39e8",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 420,
        "wires": []
    },
    {
        "id": "962037e38eb37e96",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 480,
        "wires": []
    },
    {
        "id": "c6b093a86c04ba16",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 540,
        "wires": []
    },
    {
        "id": "f514c3862752c9b4",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 600,
        "wires": []
    },
    {
        "id": "e9a3b8357c9c38d9",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 660,
        "wires": []
    },
    {
        "id": "ea365cc86077b7a5",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 720,
        "wires": []
    },
    {
        "id": "9a1de7de60563c1e",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 780,
        "wires": []
    },
    {
        "id": "43e6d8381ecb9331",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 840,
        "wires": []
    },
    {
        "id": "5cf2f55df6742476",
        "type": "link out",
        "z": "061b272d346ebd03",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "7f9a36f0ba9deaa3"
        ],
        "x": 1335,
        "y": 900,
        "wires": []
    },
    {
        "id": "4a244a4bc7436312",
        "type": "debug",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2250,
        "y": 240,
        "wires": []
    },
    {
        "id": "805f901224d8a0c4",
        "type": "link out",
        "z": "061b272d346ebd03",
        "g": "e72e588ff1c8ae83",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "6a4a9705132f9175"
        ],
        "x": 2175,
        "y": 180,
        "wires": []
    },
    {
        "id": "4a94b1bbf51fec4b",
        "type": "inject",
        "z": "061b272d346ebd03",
        "name": "4168",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceId\":4168,\"mfrId\":4,\"productId\":3,\"timestamp\":1678300956,\"TEMPERATURE\":19.7,\"command\":244,\"retries\":8,\"TARGET_TEMP\":9,\"mode\":\"heat\"}",
        "payloadType": "json",
        "x": 1630,
        "y": 100,
        "wires": [
            [
                "18636c74da0dfe6e",
                "f155d23535a2e226"
            ]
        ]
    },
    {
        "id": "4d961fde847699bb",
        "type": "comment",
        "z": "f5c07ac875e326d6",
        "name": "Smart Monitor Plug (MIHO004)",
        "info": "",
        "x": 130,
        "y": 20,
        "wires": []
    },
    {
        "id": "66a0ca5aeaaee7fd",
        "type": "comment",
        "z": "f5c07ac875e326d6",
        "name": "USER EDIT: Edit/Add device IDs for Monitor Plugs",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "a26075197f86515e",
        "type": "openThings-monitor",
        "z": "f5c07ac875e326d6",
        "name": "",
        "device": "2c19ae9da8c2824c",
        "board": "88fbf5a17def056c",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "a2e5beb75952881a"
            ]
        ],
        "outputLabels": [
            "Sensor Data"
        ]
    },
    {
        "id": "3d449a6477c1b641",
        "type": "comment",
        "z": "f5c07ac875e326d6",
        "name": "1215",
        "info": "Comment only for visual help",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "a2e5beb75952881a",
        "type": "link out",
        "z": "f5c07ac875e326d6",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "8f48efda55f6ac61",
            "0ea8668ce87fa343"
        ],
        "x": 235,
        "y": 140,
        "wires": []
    },
    {
        "id": "9965ef4959ba011f",
        "type": "subflow:833a40a2676dab42",
        "z": "f5c07ac875e326d6",
        "g": "f7d2523e9fcc649a",
        "name": "",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "53b1e31e569b3b08"
            ]
        ]
    },
    {
        "id": "5afc17fcd76d53d5",
        "type": "comment",
        "z": "f5c07ac875e326d6",
        "g": "f7d2523e9fcc649a",
        "name": "USER EDIT: Rasberry Pi IP in Sub-Flow",
        "info": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "3342db22e8247c46",
        "type": "debug",
        "z": "f5c07ac875e326d6",
        "g": "f7d2523e9fcc649a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 980,
        "y": 160,
        "wires": []
    },
    {
        "id": "8f48efda55f6ac61",
        "type": "link in",
        "z": "f5c07ac875e326d6",
        "g": "f7d2523e9fcc649a",
        "name": "link in 2",
        "links": [
            "a2e5beb75952881a"
        ],
        "x": 845,
        "y": 120,
        "wires": [
            [
                "9965ef4959ba011f",
                "3342db22e8247c46"
            ]
        ]
    },
    {
        "id": "53b1e31e569b3b08",
        "type": "link out",
        "z": "f5c07ac875e326d6",
        "g": "f7d2523e9fcc649a",
        "name": "link out 17",
        "mode": "link",
        "links": [
            "6a4a9705132f9175"
        ],
        "x": 1175,
        "y": 120,
        "wires": []
    },
    {
        "id": "38a4b9e675ef9b0f",
        "type": "debug",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "MQTT IN",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "e428c81cc49ef126",
        "type": "switch",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "Select energeniemqtt_xxxx Plug",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "energeniemqtt_5623",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "energeniemqtt_6187",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "37f62acf217785cd"
            ],
            [
                "25d4079da5b20a32"
            ]
        ]
    },
    {
        "id": "f267fd6bda3b9403",
        "type": "change",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "Reformat: String to Boolen",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "e428c81cc49ef126"
            ]
        ]
    },
    {
        "id": "b95a1eb9606feb70",
        "type": "mqtt in",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "",
        "topic": "energenie_gateway/+/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "8d7ee635c95c5781",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "38a4b9e675ef9b0f",
                "f267fd6bda3b9403"
            ]
        ]
    },
    {
        "id": "0d7a52e255cdf2d7",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "Incoming MQTT \"SET\" messages",
        "info": "",
        "x": 190,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d8ca8ae66d9e016",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "This changes the \"true/false\" string to boolean",
        "info": " Incoming data from MQTT is passed through a change node to change the \"false\" string to boolean formats prior to be passed to the openThings switch node.",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "6766125a6911b82f",
        "type": "comment",
        "z": "f9b614b65347025c",
        "name": " Smart Plug+ (MIHO005)",
        "info": "",
        "x": 110,
        "y": 20,
        "wires": []
    },
    {
        "id": "53a09c1b2e26371d",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "Switch select Plug",
        "info": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "7d073ecada5747d4",
        "type": "subflow:f075697e81a4e38d",
        "z": "f9b614b65347025c",
        "g": "7ad9c5f766ebd082",
        "name": "",
        "x": 1780,
        "y": 180,
        "wires": [
            [
                "772af1e9a0321b31"
            ]
        ]
    },
    {
        "id": "5ed8cbfcd963922f",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "7ad9c5f766ebd082",
        "name": "USER EDIT: Rasberry Pi IP in Sub-Flow",
        "info": "",
        "x": 1790,
        "y": 140,
        "wires": []
    },
    {
        "id": "aff329637c1b5419",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "USER EDIT: Edit switch node and add new as needed",
        "info": "",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9b9be4b9e1cf0bc",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "da1b9b77ab11a273",
        "name": "USER EDIT: MQTT gateway",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "27552c1876ecace0",
        "type": "comment",
        "z": "f9b614b65347025c",
        "name": "USER EDIT: Device IDs for Monitor Plugs",
        "info": "",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "9c574dedaae3266e",
        "type": "comment",
        "z": "f9b614b65347025c",
        "name": "Duplicate and edit the groups, one group for each plug",
        "info": "",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "295d1acbb4387108",
        "type": "openThings-monitor",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "",
        "device": "0f31bc6adcafaa43",
        "board": "88fbf5a17def056c",
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "6229432f04945b55"
            ]
        ],
        "outputLabels": [
            "Sensor Data"
        ]
    },
    {
        "id": "25d4079da5b20a32",
        "type": "openThings-switch",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "",
        "device": "0f31bc6adcafaa43",
        "board": "88fbf5a17def056c",
        "retry": true,
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "6229432f04945b55"
            ]
        ]
    },
    {
        "id": "897d41aed130b0e7",
        "type": "inject",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 890,
        "y": 400,
        "wires": [
            [
                "25d4079da5b20a32"
            ]
        ]
    },
    {
        "id": "e9115c9a4480a356",
        "type": "inject",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "25d4079da5b20a32"
            ]
        ]
    },
    {
        "id": "f4fedc380d1a6661",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "6187",
        "info": "",
        "x": 1370,
        "y": 460,
        "wires": []
    },
    {
        "id": "28824b357224a926",
        "type": "openThings-monitor",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "",
        "device": "23f31f81a5be8aed",
        "board": "88fbf5a17def056c",
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "517e661563658566"
            ]
        ],
        "outputLabels": [
            "Sensor Data"
        ]
    },
    {
        "id": "37f62acf217785cd",
        "type": "openThings-switch",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "",
        "device": "23f31f81a5be8aed",
        "board": "88fbf5a17def056c",
        "retry": true,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "517e661563658566"
            ]
        ]
    },
    {
        "id": "dadbe76ae213adcc",
        "type": "inject",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 890,
        "y": 220,
        "wires": [
            [
                "37f62acf217785cd"
            ]
        ]
    },
    {
        "id": "3c57205d2a77b4a0",
        "type": "inject",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 890,
        "y": 260,
        "wires": [
            [
                "37f62acf217785cd"
            ]
        ]
    },
    {
        "id": "1e380b75b8d61790",
        "type": "comment",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "5623",
        "info": "",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "517e661563658566",
        "type": "link out",
        "z": "f9b614b65347025c",
        "g": "bd6bb52ed4b9535c",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "86a3f5373d16945c"
        ],
        "x": 1265,
        "y": 280,
        "wires": []
    },
    {
        "id": "86a3f5373d16945c",
        "type": "link in",
        "z": "f9b614b65347025c",
        "g": "7ad9c5f766ebd082",
        "name": "link in 3",
        "links": [
            "517e661563658566",
            "6229432f04945b55"
        ],
        "x": 1605,
        "y": 180,
        "wires": [
            [
                "7d073ecada5747d4",
                "09747f10f9a9bea7"
            ]
        ]
    },
    {
        "id": "6229432f04945b55",
        "type": "link out",
        "z": "f9b614b65347025c",
        "g": "466213e5a7838e65",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "86a3f5373d16945c"
        ],
        "x": 1295,
        "y": 460,
        "wires": []
    },
    {
        "id": "09747f10f9a9bea7",
        "type": "debug",
        "z": "f9b614b65347025c",
        "g": "7ad9c5f766ebd082",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1720,
        "y": 220,
        "wires": []
    },
    {
        "id": "772af1e9a0321b31",
        "type": "link out",
        "z": "f9b614b65347025c",
        "g": "7ad9c5f766ebd082",
        "name": "link out 18",
        "mode": "link",
        "links": [
            "6a4a9705132f9175"
        ],
        "x": 2015,
        "y": 180,
        "wires": []
    }
]